<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Macarons - La Petite Bakery</title>
</head>
<body>
  <div class="container product-detail">
    <a href="{{ url_for('home') }}#products" class="back-btn">Back to Products</a>
    <div class="detail-wrapper">
      <img src="{{ url_for('static', filename='images/p3.jpeg') }}"alt="Macarons">
      <div class="detail-info">
        <h1>MACARONS</h1>
        <p class="price">120 RSD</p>
        <p><strong>Description:</strong></p>
        <p>A tower of perfection. These crisp-shelled, chewy almond meringue cookies are filled with rich, decadent ganache, making them the ultimate luxury treat.</p>
        <p><strong>Ingredients:</strong></p>
        <p>Almond flour, powdered sugar, egg whites, granulated sugar, dark chocolate, heavy cream.</p>
        <button class="buy-btn">ORDER NOW</button>
      </div>
    </div>
  </div>
</body>
</html>